<!-- Information from recipe search result passed -->

<!-- Recipe Information displayed -->

<!-- Generate playlist button shown-->

<!-- If button clicked, go to back end, make request to database for genres they like -->
form(method = 'POST' action = '/createPlaylist')
    button.btn.btn-primary(type='submit') Generate Playlist

<!--Playlist passed back, display on same page-->
