extends layout

block content
    include nav
    h1.edit Edit Your Profile
    if msg
        center
            text.updated Success! Profile Updated.
    span= id
    form(method = 'POST' action = '/updateProfile')
        div.right
            fieldset
                legend Please specify your intolerance
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='gluten', name='Intolerance', value='gluten', checked = prof.intolerance.includes('gluten') ? "checked" : undefined )
                        label.input-title(for='gluten') Gluten
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='dairy', name='Intolerance', value='dairy', checked = prof.intolerance.includes('dairy') ? "checked" : undefined  )
                        label.input-title(for='dairy') Dairy
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='egg', name='Intolerance', value='egg', checked = prof.intolerance.includes('egg') ? "checked" : undefined )
                        label.input-title(for='egg') Egg
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='peanut', name='Intolerance', value='peanut', checked = prof.intolerance.includes('peanut') ? "checked" : undefined )
                        label.input-title(for='peanut') Peanut
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='sesame', name='Intolerance', value='sesame', checked = prof.intolerance.includes('sesame') ? "checked" : undefined )
                        label.input-title(for='sesame') Sesame
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='seafood', name='Intolerance', value='seafood', checked = prof.intolerance.includes('seafood') ? "checked" : undefined )
                        label.input-title(for='seafood') Seafood
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='shellfish', name='Intolerance', value='shellfish', checked = prof.intolerance.includes('shellfish') ? "checked" : undefined )
                        label.input-title(for='shellfish') Shellfish
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='soy', name='Intolerance', value='soy', checked = prof.intolerance.includes('soy') ? "checked" : undefined )
                        label.input-title(for='soy') Soy
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='sulfite', name='Intolerance', value='sulfite', checked = prof.intolerance.includes('sulfite') ? "checked" : undefined )
                        label.input-title(for='sulfite') Sulfite
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='tree nut', name='Intolerance', value='tree nut', checked = prof.intolerance.includes('tree nut') ? "checked" : undefined )
                        label.input-title(for='tree nut') Tree Nut
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='wheat', name='Intolerance', value='wheat', checked = prof.intolerance.includes('wheat') ? "checked" : undefined )
                        label.input-title(for='wheat') Wheat
                        span.checkbox-custom

            fieldset
                legend Please specify your diet
                div.checkbox-container
                    label.checkbox-label
                        input#vegan(type='checkbox', name='Diet', value='vegan', checked = prof.diet.includes('vegan') ? "checked" : undefined)
                        label.input-title(for='vegan') Vegan
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input#vegetarian(type='checkbox', name='Diet', value='vegetarian', checked = prof.diet.includes('vegetarian') ? "checked" : undefined )
                        label.input-title(for='vegetarian') Vegetarian
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input#pescetarian(type='checkbox', name='Diet', value='pescetarian', checked = prof.diet.includes('pescetarian') ? "checked" : undefined )
                        label.input-title(for='pescetarian') Pescetarian
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='lacto vegetarian', name='Diet', value='lacto vegetarian', checked = prof.diet.includes('lacto vegetarian') ? "checked" : undefined )
                        label.input-title(for='lacto vegetarian') Lacto Vegetarian
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='ovo vegetarian', name='Diet', value='ovo vegetarian', checked = prof.diet.includes('ovo vegetarian') ? "checked" : undefined )
                        label.input-title(for='ovo vegetarian') Ovo Vegetarian
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='primal', name='Diet', value='primal', checked = prof.diet.includes('primal') ? "checked" : undefined )
                        label.input-title(for='primal') Primal
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', name='Diet', value='paleo', id = 'paleo', checked = prof.diet.includes('paleo') ? "checked" : undefined )
                        label.input-title(for='paleo') Paleo
                        span.checkbox-custom

        div.left
            fieldset
                legend Please specify your music genre preference
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='acoustic', name='Genre_preference', value='acoustic', checked = prof.genre.includes('acoustic') ? "checked" : undefined )
                        label.input-title(for='acoustic') acoustic
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='afrobeat', name='Genre_preference', value='afrobeat', checked = prof.genre.includes('afrobeat') ? "checked" : undefined )
                        label.input-title(for='afrobeat') afrobeat
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='alt-rock', name='Genre_preference', value='alt-rock', checked = prof.genre.includes('alt-rock') ? "checked" : undefined )
                        label.input-title(for='alt-rock') alt-rock
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='alternative', name='Genre_preference', value='alternative', checked = prof.genre.includes('alternative') ? "checked" : undefined )
                        label.input-title(for='alternative') alternative
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='ambient', name='Genre_preference', value='ambient', checked = prof.genre.includes('ambient') ? "checked" : undefined )
                        label.input-title(for='ambient') ambient
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='anime', name='Genre_preference', value='anime', checked = prof.genre.includes('anime') ? "checked" : undefined )
                        label.input-title(for='anime') anime
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='black-metal', name='Genre_preference', value='black-metal', checked = prof.genre.includes('black-metal') ? "checked" : undefined )
                        label.input-title(for='black-metal') black-metal
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='bluegrass', name='Genre_preference', value='bluegrass', checked = prof.genre.includes('bluegrass') ? "checked" : undefined )
                        label.input-title(for='bluegrass') bluegrass
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='blues', name='Genre_preference', value='blues', checked = prof.genre.includes('blues') ? "checked" : undefined )
                        label.input-title(for='blues') blues
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='bossanova', name='Genre_preference', value='bossanova', checked = prof.genre.includes('bossanova') ? "checked" : undefined )
                        label.input-title(for='bossanova') bossanova
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='brazil', name='Genre_preference', value='brazil', checked = prof.genre.includes('brazil') ? "checked" : undefined )
                        label.input-title(for='brazil') brazil
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='breakbeat', name='Genre_preference', value='breakbeat', checked = prof.genre.includes('breakbeat') ? "checked" : undefined )
                        label.input-title(for='breakbeat') breakbeat
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='british', name='Genre_preference', value='british', checked = prof.genre.includes('british') ? "checked" : undefined )
                        label.input-title(for='british') british
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='cantopop', name='Genre_preference', value='cantopop', checked = prof.genre.includes('cantopop') ? "checked" : undefined )
                        label.input-title(for='cantopop') cantopop
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='children', name='Genre_preference', value='children', checked = prof.genre.includes('children') ? "checked" : undefined )
                        label.input-title(for='children') children
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='chill', name='Genre_preference', value='chill', checked = prof.genre.includes('chill') ? "checked" : undefined )
                        label.input-title(for='chill') chill
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='classical', name='Genre_preference', value='classical', checked = prof.genre.includes('classical') ? "checked" : undefined )
                        label.input-title(for='classical') classical
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='club', name='Genre_preference', value='club', checked = prof.genre.includes('club') ? "checked" : undefined )
                        label.input-title(for='club') club
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='comedy', name='Genre_preference', value='comedy', checked = prof.genre.includes('comedy') ? "checked" : undefined )
                        label.input-title.input-title(for='comedy') comedy
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='country', name='Genre_preference', value='country', checked = prof.genre.includes('country') ? "checked" : undefined )
                        label.input-title(for='country') country
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='dance', name='Genre_preference', value='dance', checked = prof.genre.includes('dance') ? "checked" : undefined )
                        label.input-title(for='dance') dance
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='dancehall', name='Genre_preference', value='dancehall', checked = prof.genre.includes('dancehall') ? "checked" : undefined )
                        label.input-title(for='dancehall') dancehall
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='disco', name='Genre_preference', value='disco', checked = prof.genre.includes('disco') ? "checked" : undefined )
                        label.input-title(for='disco') disco
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='disney', name='Genre_preference', value='disney', checked = prof.genre.includes('disney') ? "checked" : undefined )
                        label.input-title(for='disney') disney
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='dub', name='Genre_preference', value='dub', checked = prof.genre.includes('dub') ? "checked" : undefined )
                        label.input-title(for='dub') dub
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='edm', name='Genre_preference', value='edm', checked = prof.genre.includes('edm') ? "checked" : undefined )
                        label.input-title(for='edm') edm
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='electronic', name='Genre_preference', value='electronic', checked = prof.genre.includes('electronic') ? "checked" : undefined )
                        label.input-title(for='electronic') electronic
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='emo', name='Genre_preference', value='emo', checked = prof.genre.includes('emo') ? "checked" : undefined )
                        label.input-title(for='emo') emo
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='folk', name='Genre_preference', value='folk', checked = prof.genre.includes('folk') ? "checked" : undefined )
                        label.input-title(for='folk') folk
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='forro', name='Genre_preference', value='forro', checked = prof.genre.includes('forro') ? "checked" : undefined )
                        label.input-title(for='forro') forro
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='french', name='Genre_preference', value='french', checked = prof.genre.includes('french') ? "checked" : undefined )
                        label.input-title(for='french') french
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='funk', name='Genre_preference', value='funk', checked = prof.genre.includes('funk') ? "checked" : undefined )
                        label.input-title(for='funk') funk
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='german', name='Genre_preference', value='german', checked = prof.genre.includes('german') ? "checked" : undefined )
                        label.input-title(for='german') german
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='groove', name='Genre_preference', value='groove', checked = prof.genre.includes('groove') ? "checked" : undefined )
                        label.input-title(for='groove') groove
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='pop', name='Genre_preference', value='pop', checked = prof.genre.includes('pop') ? "checked" : undefined )
                        label.input-title(for='pop') pop
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='rock', name='Genre_preference', value='rock', checked = prof.genre.includes('rock') ? "checked" : undefined )
                        label.input-title(for='rock') rock
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='sleep', name='Genre_preference', value='sleep', checked = prof.genre.includes('sleep') ? "checked" : undefined )
                        label.input-title(for='sleep') sleep
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='study', name='Genre_preference', value='study', checked = prof.genre.includes('study') ? "checked" : undefined )
                        label.input-title(for='study') study
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id='summer', name='Genre_preference', value='summer', checked = prof.genre.includes('summer') ? "checked" : undefined )
                        label.input-title(for='summer') summer
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='work-out', name='Genre_preference', value='work-out', checked = prof.genre.includes('work-out') ? "checked" : undefined )
                        label.input-title(for='work-out') work-out
                        span.checkbox-custom
                div.checkbox-container
                    label.checkbox-label
                        input(type='checkbox', id ='world-music', name='Genre_preference', value='world-music', checked = prof.genre.includes('world-music') ? "checked" : undefined )
                        label.input-title(for='world-music') world-music
                        span.checkbox-custom
        div
            center
                button.checkbox(type='submit') Submit form

