extends layout

block content
  center
    img.main-logo(src='logo.svg')
    h1.title#t1 HomeChef
    h2.title#t2 Inspiration
    
    form(method = 'GET' action = '/login')
      button(type="submit").login Login With Spotify
