extends layout

block content
  p Welcome #{title}
  form(method = 'GET' action = '/logout')
    button.btn.btn-primary(type='submit') Logout
  form(method = 'POST' action = '/getRecipes')
    label(for='ingredients') Enter ingredients separated by commas: 
    input#ingredients.form-control(type='text', name='ingredients')
    button.btn.btn-primary(type='submit') Submit