extends layout

block content
  include nav
  #search  
    center  
      p#wel Welcome #{name}
      
      form(method = 'POST' action = '/getRecipes')
        label(for='ingredients')
        input#ingredients.form-control(type='text', name='ingredients', placeholder= 'To start searching, please enter ingredients separated by commas')
        button.btn.btn-primary(type='submit') Search
      form(action = 'https://yelp.com')
          button.yelp(type='submit') I don't want to cook