extends layout

block content
  include nav
  center
    
  div
    p.results
      b Recipe Results:
    table.recipe-table(style='width:100%')
        tbody.recipe-body
            tr 
                th.recipe-header Image
                th.recipe-header Recipe
            each recipe in body.results
                tr 
                    td.recipe-col 
                      img.recipe-img(src=recipe.image)
                    td.recipe-col 
                        form(method = 'POST' action = '/viewRecipe')
                            button(type = "submit", value = recipe.id, name = "recButton", id = "recButton") #{recipe.title} 

