@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: #E6553F;
  //background: #C54157;
  //background: #D0456D;
  //background: #D95B5B; */
  background: #E8707B;
  color: #ffffff;
}

#recButton {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
     /*border-bottom:1px solid #444; */
    cursor: pointer;
}

nav {
  display: inline-block;
}

.top-bar {
  grid-auto-rows: 1em;
  grid-template-columns: 65% 30%;
  margin-block-end: 2in;
  padding-top: 3em;
}

#search { 
  display: grid;
  padding-left: 4em;
}

#nav{
  width:auto;
  float:right;
  top:-80px;
  padding-top: 3em;
}

#nav1{
  position: relative;
  left: 11in;
  margin-block-end: 1in;
}

#recButton:hover { 
  color: rgb(243, 119, 0);
}

p#playlistSuccessMsg{
  color:#525251;
  font-size: 20px;

}

#ingredients {
  width: 50vw;
  height: 30px;
  border: 4px solid #FF745E;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 3px;
  line-height: 1.2;
  padding: 18px 24px;
  border-radius: 3em;
}

.title {
  font-family:'Sigmar One',cursive;
  text-align: center;
  color: #fff;
  padding: 0px;
  margin: 0px;
}

#t1{
  font-size: 84px;
}

#t2 {
  font-size: 54px;
  line-height: 10px;
}

.login{
  margin: 80px;
}

button {
  height: 80px;
  background-color: #ffffff;
  border: 4px solid #FF745E;
  border-radius: 3em;
  color: #9C2C1A;
  cursor: pointer;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.2;
  padding: 18px 24px;
  text-transform: uppercase;
  width: auto;
}

button:hover {
  background-color: rgb(158, 103, 102);
  color: #fff;
}

.side-logo {
  width:auto;
  float:left;
  top:-40px;
}

#wel {
  font-size: 56px;
  clear : both;
}

.recipe-img {
  height: 120px;
  width: 120px;
}

.recipe-table {
  padding: 1em;
  background: #F5C1C7;
  border: 1px;
  border-radius: 15px;
  box-shadow: 5px 10px 8px 10px #ce7070;
}

.results {
  clear: both;
  font-size: 30px;
}

.recipe-body {
  text-align: center;
  font-size: 20px;
  color: #E8707B;
}

.recipe-row{
  background: #FFE2DF;
}

.recipe-row:nth-child(2n+0) {
  background: #fbd2d7;
}

.recipe-header {
  color: #ffffff;
  text-align: center;
  padding-bottom: 2mm;
}

.recipe-info {
  background-color: #ff8691;
  text-align: center;
  font-size: 20px;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-bottom: 5em;
  padding-top: 3em;
  margin-block-start: 2em;
  border: 1px;
  border-radius: 15px;
  clear: both;
  box-shadow: 5px 10px 8px 10px #ce7070;
}

.logout {
  font-size: 54px;
  margin-block-start: 2in;  
}

.updated {
  font-size: 42px;
}

.edit{
  clear: both;
}

fieldset {
  background-color: #F5C1C7;
  border: 1px solid #D0456D;
  border-top: 20px solid #D0456D;
  border-bottom: 10px solid #D0456D;
  padding:50px;
  font-size: 20px;
  align-items: center;      
  border-radius: 3em;
  box-shadow: -1px 3px 10px 1px #882f2f;
}

fieldset legend {
  text-transform: capitalize;
  font-variant: small-caps;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 8px 8px 0 0;
}

.yelp{
  position: relative;
  bottom: 0;
  left: 0;
}

/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: 0px;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #FFFFFF;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked~.checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-label input:checked~.checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.input-title {
  padding-left: 2em;
}

.checkbox-container {
  padding-bottom: 10px;
}

.playlist-space {
  padding-bottom: 1em;
}