@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //background: #E6553F;
  //background: #C54157;
  //background: #D0456D;
  //background: #D95B5B;
  background: #E8707B;
  color: #ffffff;
}

#recButton {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
     /*border-bottom:1px solid #444; */
    cursor: pointer;
}

nav {
  display: inline-block;
}

#nav{
  width:auto;
  margin:50px 50px 50px 50px;
  float:right;
  top:-80px;
}

#nav1{
  position: relative;
  left: 11in;
  margin-block-end: 1in;
}

#recButton:hover { 
  color: rgb(243, 119, 0);
}

p#playlistSuccessMsg{
  color: #fff;
  font-size: 20px;

}

#ingredients {
  width: 1400px;
  height: 30px;
  border: 4px solid #FF745E;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 3px;
  line-height: 1.2;
  padding: 18px 24px;
}

#ingredients1 {
  font-size: 12px;
  letter-spacing: 2px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
  font-family:'Sigmar One',cursive;
  text-align: center;
  color: #fff;
  padding: 0px;
  margin: 0px;
}

#t1{
  font-size: 84px;
}

#t2 {
  font-size: 54px;
  line-height: 10px;
}

.login{
  margin: 80px;
}

button {
  height: 80px;
  background-color: #ffffff;
  border: 4px solid #FF745E;
  color: #9C2C1A;
  cursor: pointer;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.2;
  padding: 18px 24px;
  text-transform: uppercase;
  width: auto;
}

button:hover {
  background-color: rgb(158, 103, 102);
  color: #fff;
}

.side-logo {
  width:auto;
  margin:50px 50px 50px 50px;
  float:left;
  top:-40px;
}

#wel {
  font-size: 56px;
  clear : both;
}

.recipe-img {
  height: 120px;
  width: 120px;
}

.recipe-table {
  padding: 1em;
  background: #F5C1C7;
  border: 1px;
  border-radius: 15px;
}

.results {
  clear: both;
  font-size: 30px;
}

.recipe-body {
  text-align: center;
  font-size: 20px;
  color: #E8707B;
}

.recipe-col {
  background: #FFE2DF;
}

.recipe-header {
  color: #ffffff;
  text-align: center;
  padding-bottom: 2mm;
}

.recipe-info {
  background-color: #FFE2DF;
  text-align: center;
  font-size: 20px;
  color: #E8707B;
  margin-left: 3in;
  margin-right: 3in;
  padding-bottom: 5em;
  padding-top: 3em;
  margin-block-start: 2em;
  border: 1px;
  border-radius: 15px;
  clear: both;
}

.logout {
  font-size: 54px;
  margin-block-start: 2in;  
}

.edit{
  clear: both;
}

fieldset {
    background-color: #F5C1C7;
    border: 1px solid #D0456D;
    border-top: 20px solid #D0456D;
    border-bottom: 10px solid #D0456D;
    padding:50px;
    font-size: 20px;
    align-items: center;      
}

fieldset legend {
  text-transform: capitalize;
  font-variant: small-caps;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 8px 8px 0 0;
}